.CS2 {
	font: bold 26px "свт╡";
}
.CS1 {
	font: 12px "кнлЕ";
	color: #FFFFFF;
}
.CS3 {
	font: 12px "кнлЕ";
	color: #000000;
}
.CS4 {
	font: bold 14px "свт╡";
	color: #FFFFFF;
}
.CS5 {
	font: 14px "а╔йИ";
	color: #FF0000;
}
